# Using Jupyter Notebooks
:label:`sec_jupyter`


This section describes how to edit and run the code
in each section of this book
using the Jupyter Notebook. Make sure you have
installed Jupyter and downloaded the
code as described in
:ref:`chap_installation`.
If you want to know more about Jupyter see the excellent tutorial in
their [documentation](https://jupyter.readthedocs.io/en/latest/).


## Editing and Running the Code Locally

Suppose that the local path of the book's code is `xx/yy/d2l-en/`. Use the shell to change the directory to this path (`cd xx/yy/d2l-en`) and run the command `jupyter notebook`. If your browser does not do this automatically, open http://localhost:8888 and you will see the interface of Jupyter and all the folders containing the code of the book, as shown in :numref:`fig_jupyter00`.

![The folders containing the code of this book.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter00.png?raw=1)
:width:`600px`
:label:`fig_jupyter00`


You can access the notebook files by clicking on the folder displayed on the webpage.
They usually have the suffix ".ipynb".
For the sake of brevity, we create a temporary "test.ipynb" file.
The content displayed after you click it is
shown in :numref:`fig_jupyter01`.
This notebook includes a markdown cell and a code cell. The content in the markdown cell includes "This Is a Title" and "This is text.".
The code cell contains two lines of Python code.

![Markdown and code cells in the "text.ipynb" file.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter01.png?raw=1)
:width:`600px`
:label:`fig_jupyter01`


Double click on the markdown cell to enter edit mode.
Add a new text string "Hello world." at the end of the cell, as shown in :numref:`fig_jupyter02`.

![Edit the markdown cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter02.png?raw=1)
:width:`600px`
:label:`fig_jupyter02`


As demonstrated in :numref:`fig_jupyter03`,
click "Cell" $\rightarrow$ "Run Cells" in the menu bar to run the edited cell.

![Run the cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter03.png?raw=1)
:width:`600px`
:label:`fig_jupyter03`

After running, the markdown cell is shown in :numref:`fig_jupyter04`.

![The markdown cell after running.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter04.png?raw=1)
:width:`600px`
:label:`fig_jupyter04`


Next, click on the code cell. Multiply the elements by 2 after the last line of code, as shown in :numref:`fig_jupyter05`.

![Edit the code cell.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter05.png?raw=1)
:width:`600px`
:label:`fig_jupyter05`


You can also run the cell with a shortcut ("Ctrl + Enter" by default) and obtain the output result from :numref:`fig_jupyter06`.

![Run the code cell to obtain the output.](https://github.com/d2l-ai/d2l-en-colab/blob/master/img/jupyter06.png?raw=1)
:width:`600px`
:label:`fig_jupyter06`


When a notebook contains more cells, we can click "Kernel" $\rightarrow$ "Restart & Run All" in the menu bar to run all the cells in the entire notebook. By clicking "Help" $\rightarrow$ "Edit Keyboard Shortcuts" in the menu bar, you can edit the shortcuts according to your preferences.

## Advanced Options

Beyond local editing two things are quite important: editing the notebooks in the markdown format and running Jupyter remotely.
The latter matters when we want to run the code on a faster server.
The former matters since Jupyter's native ipynb format stores a lot of auxiliary data that is
irrelevant to the content,
mostly related to how and where the code is run.
This is confusing for Git, making
reviewing contributions very difficult.
Fortunately there is an alternative---native editing in the markdown format.

### Markdown Files in Jupyter

If you wish to contribute to the content of this book, you need to modify the
source file (md file, not ipynb file) on GitHub.
Using the notedown plugin we
can modify notebooks in the md format directly in Jupyter.


First, install the notedown plugin, run the Jupyter Notebook, and load the plugin:

```
pip install d2l-notedown  # You may need to uninstall the original notedown.
jupyter notebook --NotebookApp.contents_manager_class='notedown.NotedownContentsManager'
```

You may also turn on the notedown plugin by default whenever you run the Jupyter Notebook.
First, generate a Jupyter Notebook configuration file (if it has already been generated, you can skip this step).

```
jupyter notebook --generate-config
```

Then, add the following line to the end of the Jupyter Notebook configuration file (for Linux or macOS, usually in the path `~/.jupyter/jupyter_notebook_config.py`):

```
c.NotebookApp.contents_manager_class = 'notedown.NotedownContentsManager'
```

After that, you only need to run the `jupyter notebook` command to turn on the notedown plugin by default.

### Running Jupyter Notebooks on a Remote Server

Sometimes, you may want to run Jupyter notebooks on a remote server and access it through a browser on your local computer. If Linux or macOS is installed on your local machine (Windows can also support this function through third-party software such as PuTTY), you can use port forwarding:

```
ssh myserver -L 8888:localhost:8888
```

The above string `myserver` is the address of the remote server.
Then we can use http://localhost:8888 to access the remote server `myserver` that runs Jupyter notebooks. We will detail on how to run Jupyter notebooks on AWS instances
later in this appendix.

### Timing

We can use the `ExecuteTime` plugin to time the execution of each code cell in Jupyter notebooks.
Use the following commands to install the plugin:

```
pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime
```

## Summary

* Using the Jupyter Notebook tool, we can edit, run, and contribute to each section of the book.
* We can run Jupyter notebooks on remote servers using port forwarding.


## Exercises

1. Edit and run the code in this book with the Jupyter Notebook on your local machine.
1. Edit and run the code in this book with the Jupyter Notebook *remotely* via port forwarding.
1. Compare the running time of the operations $\mathbf{A}^\top \mathbf{B}$ and $\mathbf{A} \mathbf{B}$ for two square matrices in $\mathbb{R}^{1024 \times 1024}$. Which one is faster?


[Discussions](https://discuss.d2l.ai/t/421)

In [117]:
import pandas as pd

In [118]:
uber=pd.read_csv('/ncr_ride_bookings.csv')
uber

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [119]:
uber.shape

(150000, 21)

In [165]:
uber.describe()

,avg vtat,avg ctat,cancelled rides by customer,cancelled rides by driver,incomplete rides,booking value,ride distance,driver ratings,customer rating
count,139500.000000,102000.000000,150000.000000,150000.000000,150000.000000,150000.00000,150000.000000,150000.000000,150000.000000
mean,8.456352,29.149636,0.070000,0.180000,0.060000,478.12074,24.340139,4.257215,4.419994
std,3.773564,8.902577,0.255148,0.384189,0.237488,329.34279,11.554986,0.345619,0.346660
min,2.000000,10.000000,0.000000,0.000000,0.000000,50.00000,1.000000,3.000000,3.000000
25%,5.300000,21.600000,0.000000,0.000000,0.000000,319.75000,17.360000,4.200000,4.300000
50%,8.300000,28.800000,0.000000,0.000000,0.000000,414.00000,23.670000,4.300000,4.400000
75%,11.300000,36.800000,0.000000,0.000000,0.000000,521.00000,30.650000,4.300000,4.600000
max,20.000000,45.000000,1.000000,1.000000,1.000000,4277.00000,50.000000,5.000000,5.000000

In [120]:
uber.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [121]:
uber.columns=uber.columns.str.lower()
uber.columns

Index(['date', 'time', 'booking id', 'booking status', 'customer id',
       'vehicle type', 'pickup location', 'drop location', 'avg vtat',
       'avg ctat', 'cancelled rides by customer',
       'reason for cancelling by customer', 'cancelled rides by driver',
       'driver cancellation reason', 'incomplete rides',
       'incomplete rides reason', 'booking value', 'ride distance',
       'driver ratings', 'customer rating', 'payment method'],
      dtype='object')

In [14]:
uber

,date,time,booking id,booking status,customer id,vehicle type,pickup location,drop location,avg vtat,avg ctat,...,reason for cancelling by customer,cancelled rides by driver,driver cancellation reason,incomplete rides,incomplete rides reason,booking value,ride distance,driver ratings,customer rating,payment method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49289,2024-03-13,19:09:25,"""CNR4012054""",Completed,"""CID9152330""",Go Sedan,Paschim Vihar,Greater Kailash,2.5,32.3,...,NaN,NaN,NaN,NaN,NaN,135.0,2.09,4.2,5.0,UPI
49290,2024-02-10,08:42:05,"""CNR2734392""",Completed,"""CID5705095""",Bike,Badarpur,Panchsheel Park,5.8,18.1,...,NaN,NaN,NaN,NaN,NaN,182.0,38.52,4.6,4.2,UPI
49291,2024-09-06,21:14:01,"""CNR9565407""",No Driver Found,"""CID7303723""",eBike,Shivaji Park,Aya Nagar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49292,2024-05-08,05:25:14,"""CNR5883451""",Completed,"""CID3855309""",Go Sedan,Tughlakabad,Gurgaon Sector 29,11.7,42.0,...,NaN,NaN,NaN,NaN,NaN,436.0,45.72,4.4,4.6,UPI
49293,2024-12-15,13:16:38,"""CNR9445100""",Completed,"""CID8542331""",Go Sedan,Malviya Nagar,Qutub Minar,9.2,22.5,...,NaN,NaN,NaN,NaN,NaN,61.0,NaN,NaN,NaN,NaN

# Changing Dtype

In [187]:
uber.dtypes

date                                  object
time                                  object
booking id                            object
booking status                        object
customer id                           object
vehicle type                          object
pickup location                       object
drop location                         object
avg vtat                             float64
avg ctat                             float64
cancelled rides by customer          float64
reason for cancelling by customer     object
cancelled rides by driver            float64
driver cancellation reason            object
incomplete rides                     float64
incomplete rides reason               object
booking value                        float64
ride distance                        float64
driver ratings                       float64
customer rating                      float64
payment method                        object
dtype: object

In [199]:
uber['date']=pd.to_datetime(uber['date'])
uber['cancelled rides by customer']=uber['cancelled rides by customer'].astype('int64')
uber['cancelled rides by driver']=uber['cancelled rides by driver'].astype('int64')
uber['incomplete rides']=uber['incomplete rides'].astype('int64')

uber.dtypes

date                                 datetime64[ns]
time                                         object
booking id                                   object
booking status                               object
customer id                                  object
vehicle type                                 object
pickup location                              object
drop location                                object
avg vtat                                    float64
avg ctat                                    float64
cancelled rides by customer                   int64
reason for cancelling by customer            object
cancelled rides by driver                     int64
driver cancellation reason                   object
incomplete rides                              int64
incomplete rides reason                      object
booking value                               float64
ride distance                               float64
driver ratings                              float64
customer rating                             float64
payment method                               object
dtype: object

# Data Cleaning

In [ ]:
#reason for cancelling by customer
uber['reason for cancelling by customer'].fillna('Not cancel',inplace=True)

#payment method
Top_method=uber['payment method'].mode()
uber['payment method'].fillna(Top_method[0],inplace=True)

#incomplete rides reason
uber['incomplete rides reason'].fillna("Not Cancel",inplace=True)

#customer rating
uber['customer rating']=uber.groupby('vehicle type')['customer rating'].transform(lambda x: x.fillna(x.median()))
uber['customer rating']

#driver ratings
uber['driver ratings']=uber.groupby('vehicle type')['driver ratings'].transform(lambda x: x.fillna(x.median()))
uber['driver ratings']

#dride distance
uber['ride distance']=uber.groupby('vehicle type')['ride distance'].transform(lambda x: x.fillna(x.median()))
uber['ride distance']

#booking value
uber['booking value']=uber.groupby('vehicle type')['booking value'].transform(lambda x: x.fillna(x.median()))
uber['booking value']

#avg vtat
vat_median=uber['avg vtat'].median()
uber['avg vtat'].fillna(vat_median,inplace=True)

#avg ctat
ctat=uber['avg ctat'].median()
uber['avg ctat'].fillna(ctat,inplace=True)

#cancelled rides by driver
uber['cancelled rides by driver'].fillna(0,inplace=True)

#cancelled rides by customer
uber['cancelled rides by customer'].fillna(0,inplace=True)

#driver cancellation reason
uber['driver cancellation reason'].fillna("Not Cancel",inplace=True)

#incomplete rides
uber['incomplete rides reason'].fillna("Not Cancel",inplace=True)

In [197]:
uber.isnull().sum()

date                                 0
time                                 0
booking id                           0
booking status                       0
customer id                          0
vehicle type                         0
pickup location                      0
drop location                        0
avg vtat                             0
avg ctat                             0
cancelled rides by customer          0
reason for cancelling by customer    0
cancelled rides by driver            0
driver cancellation reason           0
incomplete rides                     0
incomplete rides reason              0
booking value                        0
ride distance                        0
driver ratings                       0
customer rating                      0
payment method                       0
dtype: int64

In [198]:
uber

,date,time,booking id,booking status,customer id,vehicle type,pickup location,drop location,avg vtat,avg ctat,...,reason for cancelling by customer,cancelled rides by driver,driver cancellation reason,incomplete rides,incomplete rides reason,booking value,ride distance,driver ratings,customer rating,payment method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,8.3,28.8,...,Not cancel,0,Not Cancel,0,Not Cancel,410.0,24.21,4.3,4.5,UPI
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,Not cancel,0,Not Cancel,1,Vehicle Breakdown,237.0,5.73,4.3,4.5,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,Not cancel,0,Not Cancel,0,Not Cancel,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,Not cancel,0,Not Cancel,0,Not Cancel,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,Not cancel,0,Not Cancel,0,Not Cancel,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,Not cancel,0,Not Cancel,0,Not Cancel,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,Not cancel,0,Not Cancel,0,Not Cancel,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,Not cancel,0,Not Cancel,0,Not Cancel,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,Not cancel,0,Not Cancel,0,Not Cancel,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,Not cancel,0,Not Cancel,0,Not Cancel,806.0,21.19,4.6,4.9,Credit Card